body {
  background-color: bisque;
}

.A {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 20px;
}

.B input ,textarea,button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background-color: yellow;
}
